@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
}

p {
  margin: 0.75rem 0;
}

/* Utility Classes */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.text-center {
  text-align:center;
}

.text-primary {
  color: #1E90FF;
}

.bg-light {
  background: #f4f4f4;
  color: #333;
}

.bg-dark {
  background: #333;
  color: #fff;
}

.bg-primary {
  background: #1E90FF;
  color: #fff;
}

.l-heading {
  font-size: 3rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.m-heading {
  font-size: 2rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.py-1 { padding: 1.5rem 0; }
.py-2 { padding: 2rem 0; }
.py-3 { padding: 3rem 0; }

.p-1 { padding: 1.5rem; }
.p-2 { padding: 2rem; }
.p-3 { padding: 3rem; }

.btn {
  display: inline-block;
  color: #fff;
  background: #1E90FF;
  padding: 0.5rem 2rem;
  margin-bottom: 5px;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  background: #00BFFF;
}

.btn-dark {
  background: #333;
  color: #fff;
}

.list {
  margin: 0.5rem 0;
  list-style: none;
}

.list li {
  padding: 0.5rem 0;
  border-bottom: #444 dotted 1px;
}

/* Navbar */
#navbar {
  display: flex;
  position: sticky;
  top:0;
  background: #333;
  color: #fff;
  justify-content: space-between;
  z-index: 1;
  padding: 1rem;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar ul li a {
  color: #fff;
  padding: 0.75rem;
  margin: 0 0.25rem;
}

#navbar ul li a:hover {
  background: #1E90FF;
  border-radius: 5px;
}

/* Showcase */
#showcase {
  background: #333 url('../img/logo.jpg') no-repeat center center/cover;
  height: 100vh;
  color: #fff;
}

#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
  /* Overlay */
  position: absolute;
  top: 65px;
  left:0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4);
}
#showcase .showcase-content .btn{
  margin-top: 1rem;
}
#showcase .showcase-content p{
  padding-bottom: 250px;
}
/* Section: What We Do */
#what .items {
  display: flex;
  padding: 1rem;
}

#what .items .item {
  flex: 1;
  text-align: center;
  padding: 1rem;
}

#what .items .item i {
  background: #1E90FF;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

/* Section: Who We Are */
#who {
  display: flex;
}

#who div {
  flex: 1;
}

#who .who-img {
  background: url('../img/profilepicture.jfif') no-repeat center center/cover;
}
#who .list li a{
  color: #1E90FF;
}
/* Section: Why us */
#clients .items {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}
#clients .items p{
  padding: 0px 18px;
  margin:auto;
  text-align: center;
}
#clients .items h3{
  text-align: center;
  padding: 15px 0;
}

#clients .items img {
  display: block;
  margin: auto;
  width: 54px;
  height: 49px;
}
#clients div {
  flex: 1;
  justify-content: center;
}
/* Section: Contact */
#contact-info .container{
  display: flex;
  justify-content:space-between ;
  
}
#contact-info .box {
  text-align:center;
  padding: 25px 0px;
  flex: 1;
}
#contact-info .box h3{
  padding-bottom: 20px;
  padding-top: 10px;
}

/* Contact Form */
#contact-form .form-group {
  margin-bottom: 20px;
}

#contact-form label {
  display: block;
  margin-bottom: 5px;
}

#contact-form input, 
#contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px #ddd solid;
}

#contact-form textarea {
  height: 200px;
}

#contact-form input:focus, 
#contact-form textarea:focus {
  outline: none;
  border-color: #1E90FF;
}
